$black: #000000;
$grey: #d3d4d9;
$white: #fff9fb;
$red: #bb0a21;
$blue: #4b88a2;

$whyChooseUsBackground: $black;
$aboutBackground: lighten($black, 3%);
$announcementBackground: lighten($black, 7%);
$galleryBackground: lighten($black, 10%);
$partnerBackground: lighten($black, 7%);
$footerColor: lighten($black, 3%);
